# DevSul API
DEVSUL_API_URL=https://api.lnsoft.com.br/devsul/integracao/atendimentos/resumo
DEVSUL_BEARER_TOKEN=

# ÁtomosChat / Helena API
HELENA_BASE_URL=http://api.chat.atomos.tech
HELENA_SEND_ENDPOINT=/chat/v1/message/send
HELENA_TOKEN=
HELENA_CONTACT_ID=
HELENA_TEMPLATE_ID=

# Modo de teste (RF.03)
TEST_PHONE_NUMBER=5581992387425
TEST_MODE=true
